@import url("reset.css");
.article {
  color: white;
}
.title {
  color: black;
}
h2 {
  color: blue;
}
.traditions {
  color: red;
}
.crimea {
  color: brown;
}
.space {
  color: yellow;
}
.persons {
  color: chocolate;
}
.facts {
  color: orange;
}
.culture {
  color: blue;
}
.contacts {
  color: orange;
}
.links {
  color: red;
}
span {
  color: orange;
}
.text,
practic > p {
  color: red;
}
a {
  color: blue;
}
